body{
  background-color: rgb(204, 204, 204);
}
.grid-container{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}
.Card{
  margin: 10px 10px 10px 10px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.title{
  font-weight: bold;
}
.Card__img{
  text-align: center;
}
.Card__name{
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.Card__type{

  
  display: inline;
  color: white;
  border-radius: 4px;
  margin: 5px ;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Card__types{
  text-align: center;
}
.Card p {
  padding-left: 10px;
}
.load{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
 
}
.btn{
  margin-top: 30px;
  text-align: center;
}
.btn button{
  background-color: rgb(0, 0, 0);
  color: white;
  margin: auto 10px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.btn button:hover{
  background-color: white;
  color: black;
}
@media only screen and (max-width: 700px) {
  .grid-container{
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }
}
